/* You can add global styles to this file, and also import other style files */

* {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #aaa;

  .title {
    margin: 0;
    margin-bottom: 1rem;
  }

  .desc {
    margin: 0;
  }

  .buttons {
    margin-top: 1rem;
  }
}
